/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
  .floating_btn
  {
    width: 50px;
    height: 50px;
    background: #0A2558;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 0.25s;
    padding: 13px;
    padding-top: 15px;
    outline-style: none;
    border: none;
    cursor: pointer;
    z-index: 1;

  }
  .floating_btn:hover
  {
    background: silver;
  }
  

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}



.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}


.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
  cursor: pointer;
}
.home-section nav .profile-details:hover{
  background: silver;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details .admin_name a{
 text-decoration: none; 
 color: black; 
}

nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #000;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #000;
 }
.home-content .box .cart.three{
   color: #000;
 }
.home-content .box .cart.four{
   color: #000;
 }

.home-content .table{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .table .table-menuv{
  width: 100%;
  background: #fff;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .table .table-menure{
  width: 100%;
  background: #fff;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .table .box-type{
  width: 53.5%;
  background: #fff;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .table .box-typer{
  width:26.0%;
  background: #fff;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .table .arc-table{
  width:65%;
  background: #fff;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .table .table-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.table .box-type .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.table .table-menu li.topic{
  font-size: 20px;
  font-weight: 500;
}
.table .table-menu li{
  list-style: none;
  margin: 8px 0;
}
.table .table-menu li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

#cooldown
{
  width: 20%;
  height: 35px;
  background: #151d3e;
  color: #fff;
  border: none;
}
#cooldown:hover
{
  background: silver;
  color: #000;
  cursor: pointer;
}
#cooldown:disabled
{
  background: #ccc;
  color: #000;
  cursor: context-menu;
}

.table-main{
	width: 100%;
	border-collapse: collapse;
}
.table-main thead{
	background-color: #151e3d;
}
.table-main thead tr th{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.35px;
	color: #fff;
	opacity: 1;
  width: 100%;
	padding: 12px;
	vertical-align: top;
	border: 1px solid gray;
}

.table-main tbody tr td{
	font-size: 14px;
	letter-spacing: 0.35px;
	font-weight: normal;
	color: #000;
	background-color: #fff;
	padding: 8px;
	text-align: center;
	border: 1px solid gray;
}
.home-content .table .box{
  overflow-x: scroll;
}
img{
	width: 70px;
	height: 70px;
}
.image-td{
  width: 100px;
  height: 100px;
}
.meeting-table .bg-tr td{
  border: none;
  text-align: left;
}
.meeting-table .bg-tr{
	border: 1px solid silver;
}
.meeting-table .bg-tr:hover{
	border-color: black;
	transition: .3s;
}
.message-table .bg-tr td{
  border: none;
  text-align: left;
}
.message-table .bg-tr{
  border: 1px solid silver;
}
.message-table .bg-tr:hover{
  border-color: black;
  transition: .3s;
}
.attend-btn,.btn-election{
	background: #151e3d;
	color: #fff;
}
.cancel-btn{
	background: #a30000;
	color: #fff;
}
.attend-btn,.cancel-btn,.btn-election{
	width: 150px;
	padding: 5px;
	cursor: pointer;
	outline-style: none;
	border: 1px silver solid;
}
.attend-btn:hover,.cancel-btn:hover,.btn-election:hover{
	background: silver;
}

.meeting-table .no-meet{
	text-align: left; border: none;
}
.message-table .no-meet{
  text-align: left; border: none;
}

 nav .sidebar-button .dashboard{
 	font-size: 20px;
 	margin-left: 10px;
 }

   .dataTables_filter{
      top: 2px;
      position: relative;
      margin-bottom: 10px;
    }
    .dataTables_length select{
      margin-top: 5px;
    }
    .dataTables_info{
      float: right;
      padding-right: 10px;
    }
    .dataTables_paginate{
      display: none;
    }
    .dataTables_filter input{
      border-radius: 15px;
      outline-style: none;
      padding-left: 10px;
      text-align: center;
      width: 47%;
      height: 30px;
    }


/*input*/
.home-content .table .former{
  overflow-x: hidden;
}

.input_table tbody tr td{
  border: none;
}
.input_text input,.input_text select{
  padding: 5px;
  outline-style: none;
  width: 300px;
  border: none;
  border-bottom: 1px solid silver;
}


.input_text label{
  position: relative;
  left: 5px;
  opacity: .5;
  float: left;
}
.input_text input:hover,.input_text select:hover{
  border-color: #151d3e;
  transition: .3s;
}

.btn{
  background: #0A2558;
  color: #fff;
  padding: 10px;
  border: none;
  width: 300px;
  cursor: pointer;
}

.btn:hover{
  background: #787276;
  transition: .3s;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.home-content .table .setting {
  width: 30%;
}

.home-content .table .style-docu{
  width: 41%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.modal-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
}
.form-body{
	display: block;
    text-align: center;
}
.form-content{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

#myInput
{
  padding-left: 15px; 
  width: 38.5%; 
  height: 40px; 
  outline-style: none; 
  border: 2px solid #ccc;
  border-radius: 15px;

}
#myInput:hover
{
  border: 2px solid skyblue;
}






.form-content select, .form-content input[type="date"]{
	width: 100%;
	height: 30px;
	padding-left: 15px;
	margin-bottom: 15px;
	text-align: center;
	cursor: pointer;
	outline-style: none;
	border: none;
	border-bottom: 1px solid #151d3e;
}
.form-content textarea
{
  width: 100%;
  height: 300px;
  overflow: auto;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  outline-style: none;
  border: 1px solid #151d3e;
}
.form-content input[type="text"]
{
  width: 100%;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
  outline-style: none;
  border: none;
  border-bottom: 1px solid #151d3e;
}
.form-content select:hover, .form-content textarea: hover, .form-content input[type="date"]:hover, .form-content input[type="text"]:hover{
	border-bottom: 1px solid silver;
}
.form-content label{
	position: relative;
	font-size: 13px;
}


.form-input-content
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}
.form-input-content .input{
  width: 100%;
  height: 30px;
  padding-left: 15px;
  margin-bottom: 15px;
  text-align: center;
  outline-style: none;
  border: none;
  border-bottom: 1px solid #151d3e;
}

.form-input-content .input:hover{
  border-bottom: 1px solid silver;
}
.form-input-content label{
  position: relative;
  font-size: 13px;
}

.btn-value
{
	position: relative;	
}
.btn-value input
{
	width: 100%;
	height: 30px;
	background: #151d3e;
	color: #fff;
	border: none;
	outline-style: none;
	cursor: pointer;
}

.btn-value input:hover
{
	background: silver;
}



* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close{
  color: #2b2d2f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}




.closeIndigency{
  color: #2b2d2f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeIndigency:hover,
.closeIndigency:focus{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.closeClearance{
  color: #2b2d2f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeClearance:hover,
.closeClearance:focus{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background:#fff;
  color: #000;
  border-radius: 15px 15px  0px 0px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: #000;
}

/*announcement div*/
.announcement figure{
    width:100%;
    border-radius: 4px;
    border:2px solid #ccc;
    position:relative;
    padding:48px 10px 10px;
    margin-bottom: 15px;
}



.announcement figure:before {
    content: attr(data-title);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    background: #151d3e;
    color: #fff;
}






/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }

}
@media (max-width: 1150px) {
  .home-content .table{
    flex-direction: column;
  }
  .home-content .table .box{
    width: 70%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
 
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }


}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,.img-logo,
  nav .sidebar-button .admin_name,
  nav .profile-details i,
  .header-td{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .table .table-menu{
    width: 560px;
  }
    .home-content .table .table-menuv
  {
  	width: 90%;
  }
      .home-content .table .table-menure
  {
    width: 90%;
  }

 .home-content .table .box{
    overflow-x: hidden;
  }

 .table-main thead
 {
 	display: none;
 }
 .table-main,.table-main tbody,.table-main tr,.table-main td{
 	display: block;
 	width: 99%;
 }
 .meeting-table,.meeting-table tbody,.meeting-table tr,.meeting-table td
 {
 	display: block;
 	width: 88.5%;
 }
 .meeting-table .bg-tr td{
 	text-align: right;
 }
  .message-table,.message-table tbody,.message-table tr,.message-table td
 {
  display: block;
  width: 88.5%;
 }
 .message-table .bg-tr td{
  text-align: right;
 }
  .input_table,.input_table tbody,.input_table tr,.input_table td{
  display: block;
  width: 29%;
 }
 .input_table .input_text input,.input_table .input_text select,.btn{
  width: 375px;
 }

 .table-main tr
 {
 	margin-bottom: 15px;
 }
 .table-main tbody tr td{
 	text-align: right;
 	padding-left: 25%;
 	position: relative;
 }
.table-main td:before{
	content: attr(data-label);
	position: absolute;
	left: 0;
	width: 50%;
	padding-left: 15px;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
  color: #000;
}

.image-td{
  width: 100px;
  height: 100px;
}

.dataTables_filter input{
        width: 80%;
      }
.dataTables_info{
      font-size: 13px;
    }
.dataTables_length {
      font-size: 13px;
      margin-top: -10px;
    }
  .this-table, .this-table tbody, .this-table tr, .this-table td {
    display: block;
    width: 107%;
}
.home-content .table .box-type
{
  width: 90%;
}
.home-content .table .box-typer{
  width: 90%;
}
.home-content .table .arc-table
{
  width: 90%;
}
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
  .input_table .input_text input,.input_table .input_text select,.btn{
  width: 325px;
 }
.meeting-table,.meeting-table tbody,.meeting-table tr,.meeting-table td
 {
 	display: block;
 	width: 83.5%;
 }
.message-table,.message-table tbody,.message-table tr,.message-table td
 {
  display: block;
  width: 85%;
 }

 #cooldown
 {
  width: 100%;
  height: 50px;
  margin-top: 15px;
 }

 .docu-requests,.docu-requests tbody,.docu-requests tr,.docu-requests td
 {
 	display: block;
 	width: 89%;
  height: 100%;
 }
.meeting-table .no-meet{
display: block;
text-align: left;
}
.message-table .no-meet{
display: block;
text-align: left;
}
 .hide,.hide tbody,.hide tr,.hide td
 {
  display: block;
  width: 108%;
  height: 100%;
 }
  .td-hide,.td-hide tbody,.td-hide tr,.td-hide td
 {
  display: block;
  width: 107.5%;
  height: 100%;
 }
 .arc-main-table,.arc-main-table tbody,.arc-main-table tr,.arc-main-table td
 {
  display: block;
  width: 104.5%;
  padding-right: 50px;
  height: 100%;
 }
.btn-election{
  margin-right: 25px;
}
.modal-content{
    width: 80%;
    left: 30px;
  }
#myInput
{
  width: 100%;

}

}



